@import 'scales';
@import 'typography';

body{
  background-color: #f1f1f1;
}

.container{
  width:400px;
  border:1px solid black;

  img{
    max-width: 100%;
  }
}

.meals{
  .meal{
    background-color: #fff;
    list-style: none;
    border:1px solid #a7a7a7;

    .details{
      padding: 20px;
    }

    .price{
      position: absolute;
      background-color: blue;
      margin: 0 0;
    }

    .imageHolder{
      position: relative;

      .name{
        position: absolute;
        bottom: 20px;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%;
      }
    }




    .addToBasket{
      text-align: center;
      padding: 10px;
      background-color: blue;
    }
  }
}