<div class="header">
    <basket></basket>
</div>

<h3 class="text-muted">Ed's Restaurant</h3>

<ul class="meals">
    <li class="meal" ng-repeat="meal in menu.meals">
        <p class="price">
            <span>£{{meal.price}}</span>
        </p>

        <div class="imageHolder">
            <img class="image" ng-src="{{meal.primaryImageUrl}}">
            <h4 class="name">{{meal.name}}</h4>
        </div>

        <div class="details">
            <p class="description">{{meal.description | limitTo:70}}</p>

            <div class="addToBasket" >
                <a ng-click="basket.add(meal)">Add To Your Order</a>
            </div>

            <p><i>3</i> options available</p>
        </div>
    </li>
</ul>
